.Game-btnDiv{
  display: flex;
  justify-content: center;
  align-items: center;
}

.Game-card{
  position: absolute;
  top: 35%;
  left: 43%;
}

.Game-btn{
  margin-right: 8px;
  padding: 16px;
  background-color: black;
  color: white;
  border: 1px solid black;
  border-radius: 5px;
}